body {
    display: flex;
    flex-direction: column;

    font-family: 'Ibarra Real Nova', serif;
    background: #fcf6e9;
    color: rgb(0, 48, 136);
    font-size: 2em;

    margin: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

h1 {
    font-weight: 400;
    margin: 10px;
    flex: 0 0 65%;
}

.profile-pic {
    max-width: 16%;
    flex: 1;
    animation: fadeIn 5s ease-in-out forwards;
}

div.links li {
    list-style-type: none;
    font-size: 24px;
}

ul {
    font-size: 32px;
}

a, a:visited {
    text-decoration: none;
    color: rgb(0, 48, 136);
}

a:hover {
    color: rgb(115, 154, 225);
}

hr {
    width: 40%;
    color: rgb(0, 48, 136);
    animation: fadeInLine 2s ease-in-out forwards;
}

.about {
    margin-left: 10px;
    font-size: 1em;
    font-family: cursive;
    color: rgb(255, 97, 61);
    animation: fadeInSpiritual 10s ease-in-out forwards;
}

.learning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 20px;
    font-size: 20px;
}

.learning ul {
    font-size: 20px;
}

.text-animation {
    animation: fadeIn 1s ease-in-out forwards;
}

.text-animation h1:nth-child(1) {animation-delay: 3s;} 

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }    

    .profile-pic {
        max-width: 30%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes fadeInSpiritual {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.3;
    }
}